#src
src/bmcweb/bmcweb
src/phosphor-dbus-interfaces/phosphor-dbus-interfaces
src/phosphor-logging/phosphor-logging
src/phosphor-user-manager/phosphor-user-manager
src/sdeventplus/sdeventplus
src/stdplus/stdplus
src/sdeventplus/sdeventplus
src/CLI11/CLI11*
src/CLI11/*.tar.gz
src/nlohmann_json/nlohmann_json
src/nlohmann_json/include.zip
src/entity-manager/GSL
src/entity-manager/entity-manager
src/boost/boost*
src/phosphor-power/phosphor-power
src/libpeci/libpeci
src/libpldm/libpldm
src/phosphor-certificate-manager/phosphor-certificate-manager
src/phosphor-host-ipmid/phosphor-host-ipmid
src/phosphor-modbus/phosphor-modbus

bmcweb_persistent_data.json